<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeReferenceURL</key>
			<string>http://www.olivierlabs.com/latte</string>
			<key>UTTypeIconFile</key>
			<string>Latte Document.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Latte Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.olivierlabs.latte.document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>latte</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>Latte Document.icns</string>
			<key>CFBundleTypeName</key>
			<string>com.olivierlabs.latte.document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.olivierlabs.latte.document</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Latte.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.olivierlabs.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>SUFeedURL</key>
	<string>http://olivierlabs.com/latte/sparkle/profileInfo.php</string>
	<key>SUPublicDSAKeyFile</key>
	<string>olabsparkle_pub.pem</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
</dict>
</plist>
